:root{
    --primary-color: white;
    --headers-color: #055a05;
   /* --secondary-color: #f4a261;*/
    --accent1-color: #264653;
    --accent-color2: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: var(--accent-color2);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-weight: var(--heading-font);
    color: var(--headers-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent-color2);
    color: white;
}

.hero article{
    background-color: #e9c46a;
    color: var(--headers-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
}

h2{
    text-align: center;
    background-color: #e9c46a;
    padding: 10px;
    width: 100%;
    margin: 10px;
}

footer {
    border-top: 1px solid black;


}
