:root{
    --primary-color: white;
    --headers-color: darkblue;
    --accent1-color: #264653;
    --accent-color2: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: rgb(233 196 106);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

section {
    max-width: 100%;
    margin: 1rem auto;
    padding: 0;
    background-color: var(--primary-color);
    border-radius: 8px;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    padding: 1rem;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--headers-color);
}

nav, p, section, article{
    margin: 16px 16px 0;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 20px;
    left: 20;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent-color2);
    color: var(--headers-color);
}

.hero article{
    background: rgba(233, 196, 106, 0.9);
    color: var(--headers-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    background-color: var(--accent-color2);
    padding: 10px;
    margin: 10px;
    color: var(--headers-color);
    width: 100%;
}
    

footer {
    border-top: 2px solid gray;
    text-align: center;
    padding: 0;
    color: var(--accent1-color);
}


