body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
background-color: black;
padding: 10px;
color: white;
text-align: center;
font-size: 1.5rem;
}

main {
width: 400px;
margin: 0 auto;
}

h1{
    text-align: center;
    margin: 10px;
}

img{
width: 100%;
height: auto;
box-shadow: 0px 0px 30px #333;
}

section {
    background-color: gray;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid black;
    font-size: .9rem;
}

section p{
    margin: 10px;
}

h2{
    border-bottom:1px solid black;
}

footer {
    font-size: .9rem;
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;

}
